{% extends "base.html" %}

{% block content %}
<h1>Vehicle Detail</h1>


<h3>vehicle name: {{ vehicle.name }}</h3>
<h3>vehicle engine: {{ vehicle.engine }}</h3>
{% if vehicle.oil_changes %}
    <h3>Last oil change date: {{ vehicle.oil_changes.date }}</h3>
    <h3>Last oil change kilometrage: {{ vehicle.oil_changes.kilometrage }}</h3>
{% else %}
    <p>No oil change record yet.</p>
{% endif %}
{% if vehicle.oil_changes %}
    <a href="{% url 'oilchange_edit' vehicle.oil_changes.pk %}">Edit oil change record</a>
{% else %}
    <a href="{% url 'oilchange_add' vehicle.pk %}">Add oil change record</a>
{% endif %}


{% endblock %}